<h2 class="group__name">{{name}}</h2>
<h3 class="group__teams">{{teams}}</h3>
<table class="group__table">
	<tbody>
		<tr class="match">
			<td class="match__date">12.06.</td>
			<td class="match__time">22:00</td>
			<td class="match__stadium">Arena de São Paulo</td>
			<td class="match__city">São Paulo</td>
			<td class="match__teams">Brasilien - Kroatien</td>
			<td class="match__result"></td>
		</tr>
		<tr class="match">
			<td class="match__date">13.06.</td>
			<td class="match__time">18:00</td>
			<td class="match__stadium">Estádio das Dunas</td>
			<td class="match__city">Natal</td>
			<td class="match__teams">Mexiko - Kamerun</td>
			<td class="match__result"></td>
		</tr>
		<tr class="match">
			<td class="match__date">17.06.</td>
			<td class="match__time">21:00</td>
			<td class="match__stadium">Estádio Castelão</td>
			<td class="match__city">Fortaleza</td>
			<td class="match__teams">Brasilien - Mexiko</td>
			<td class="match__result"></td>
		</tr>
		<tr class="match">
			<td class="match__date">19.06.</td>
			<td class="match__time">00:00</td>
			<td class="match__stadium">Arena Amazônia</td>
			<td class="match__city">Manaus</td>
			<td class="match__teams">Kamerun - Kroatien</td>
			<td class="match__result"></td>
		</tr>
		<tr class="match">
			<td class="match__date">23.06.</td>
			<td class="match__time">22:00</td>
			<td class="match__stadium">Estádio Nacional</td>
			<td class="match__city">Brasilia</td>
			<td class="match__teams">Kamerun - Brasilien</td>
			<td class="match__result"></td>
		</tr>
		<tr class="match">
			<td class="match__date">23.06.</td>
			<td class="match__time">22:00</td>
			<td class="match__stadium">Arena Pernambuco</td>
			<td class="match__city">Recife</td>
			<td class="match__teams">Kroatien - Mexiko</td>
			<td class="match__result"></td>
		</tr>
	</tbody>
</table>
