<div class="match__id">{{id}}</div>
<div class="match__teams">
	<span class="match__teams--home">{{home}}:</span><span class="match__teams--guest">{{guest}}</span>
</div>
<div class="match__team-fields">
	
</div>
