<tr class="stadium-highlightable" data-stadium="{{name}}">
	<td class="stadium-table--id">{{id}}</td>
	<td class="stadium-table--city">{{city}}</td>
	<td class="stadium-table--name">{{name}}</td>
</tr>
