// TODO: browsehappy
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// $icon-font-path: "/bower_components/sass-bootstrap/fonts/";
// @import 'sass-bootstrap/lib/bootstrap';

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic);

@import "tools/variables";
@import "compass/css3";
@import "sass-flex-mixin/flex";
@import "tools/mixins";

@import "generic/clearfix";

@import "objects/flex";
@import "objects/header";
@import "objects/hexagons";
@import "objects/matches";
@import "objects/groups";

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: $text-color;
  margin: $base-spacing-unit;
  font-size: 10px;
}

h1 {

}
