$hexagon-size: 150px;

.hexagon {
  // display: inline-block;
  position: relative;
  margin-top: $hexagon-size;
  width: $hexagon-size;
  height: $hexagon-size / sqrt(3); // TODO: check if hexagon height is correct
  border-width: 5px;
  border-style: solid;
  border-left-color: $group-a;
  border-right-color: $group-b;
  // background-color: $group-a;
  border-top-color: transparent;
  border-bottom-color: transparent;

  &:before, &:after {
    position: absolute;
    top: 0;
    content: '';
    width: $hexagon-size;
    height: $hexagon-size / sqrt(3);
    border: inherit;
    background-color: inherit;
  }

  &:before {
    -webkit-transform: rotateZ(-60deg);
  }

  &:after {
    -webkit-transform: rotateZ(60deg);
  }
}

.hexagon__content {
  position: absolute;
  width: 100%;
}
