.hexagon {
	@include flex(0, 0, $hexagon-size - $hexagon-border);
}

.hexagon--full {
	@include flex(0, 0, $hexagon-size);
}

.hexagon--push {
	margin-left: ($hexagon-size - $hexagon-border) / 2;
}

.hexagon--spacer {
	@include flex(0, 0, $hexagon-size - $hexagon-border * 2);
}

.hexagon--a-b {
	@include hexagon($hexagon-size, $group-a, $group-b);
}

.hexagon--b-a {
	@include hexagon($hexagon-size, $group-b, $group-a);
}

.hexagon--c-d {
	@include hexagon($hexagon-size, $group-c, $group-d);
}

.hexagon--d-c {
	@include hexagon($hexagon-size, $group-d, $group-c);
}

.hexagon--e-f {
	@include hexagon($hexagon-size, $group-e, $group-f);
}

.hexagon--f-e {
	@include hexagon($hexagon-size, $group-f, $group-e);
}

.hexagon--g-h {
	@include hexagon($hexagon-size, $group-g, $group-h);
}

.hexagon--h-g {
	@include hexagon($hexagon-size, $group-h, $group-g);
}

.hexagon--qf {
	@include hexagon($hexagon-size, $quarter-final);
}

.hexagon__content {
	@include hexagon($hexagon-size - $hexagon-border * 2, white);
	left: $hexagon-border;
	top: $hexagon-border / sqrt(3);
	z-index: 1;
}
