$hexagon-size: 150px;

.hexagon {
  position: relative;
  margin-top: $hexagon-size;
  width: $hexagon-size;
  height: $hexagon-size / sqrt(3); // TODO: check if hexagon height is correct
  @include background-image(linear-gradient(left, $group-a 50%, $group-b 50%));
  // background-image: ; // $group-b;

  &:before, &:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: inherit;
    height: inherit;
    border: inherit;
    background: inherit;
  }

  &:before {
    // display: none;
    -webkit-transform: rotateZ(-60deg);
    @include background-image(linear-gradient(150deg, $group-a 50%, $group-b 50%));
  }

  &:after {
    -webkit-transform: rotateZ(60deg);
    @include background-image(linear-gradient(30deg, $group-a 50%, $group-b 50%));
  }
}

.hexagon__content {
  position: absolute;
  left: 5px;
  top: 5px / sqrt(3);
  width: $hexagon-size - 10px;
  height: ($hexagon-size - 10px) / sqrt(3);
  z-index: 1;
  background-color: white;

  &:before, &:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: inherit;
    height: inherit;
    border: inherit;
    background: inherit;
    z-index: -1;
  }

  &:before {
    -webkit-transform: rotateZ(-60deg);
  }

  &:after {
    -webkit-transform: rotateZ(60deg);
  }
}
