
.knockout-matches {
  @include flexbox;
  @include flex-direction(column);
}

.knockout__ui-group {
  margin-top: $hexagon-size / 3 - $hexagon-border * 2;
  @include flexbox;
}

.knockout__ui-group--one {
  @include order(1);
}

.knockout__ui-group--two {
  @include order(2);
}

.knockout__ui-group--three {
  @include order(3);
}

.match--knockout {
  text-align: center;
}

.group-matches {
  margin-top: 100px;
  @include flexbox;
  @include flex-wrap(wrap);
}

.match__date {
  width: 30px;
}

.match__time {
  width: 30px;
}

.match__stadium {
  width: 100px;
}

.match__city {
  width: 60px;
}

.match__teams {
  width: 130px;
  text-align: right;
}

.match__results {
  width: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
}

.goals {
  width: 10px;
  border: none;
  outline: none;
  text-align: center;
}
