.knockout-matches {
  margin-top: $hexagon-size / 3 - $hexagon-border;
  @include flexbox;
}

.match--knockout {
  text-align: center;
}

.group-matches {
  margin-top: 100px;
  @include flexbox;
  @include flex-wrap(wrap);
}

.match__date {
  width: 50px;
}

.match__time {
  width: 50px;
}

.match__stadium {
  width: 150px;
}

.match__city {
  width: 100px;
}

.match__teams {
  text-align: center;
}
