
$maphex-size : 60px;
$maphex-border : 2px;

.stadium-view {
	padding: 10px;
	float: left;
}

.stadium--row {
	height: $maphex-size - ($maphex-size/2)*0.32004038938;
	&:nth-child(even) {
		margin-left: $maphex-size/2;
	}
}

.stadium--hexagon {
	float: left;
	margin-right: -$maphex-border;
}

.stadium--hexagon--pusher {
	width: $maphex-size;
	height: 100%;
}

.stadium--hexagon--blank {
	@include hexagon($maphex-size, #12ae98, false);


	.stadium--hexagon--inner {
		@include hexagon($maphex-size - $maphex-border*2, #ffffff);
		left: $maphex-border;
		top: $maphex-border / sqrt(3);
		z-index: 1;
	}
}

.stadium--hexagon--stadium {
	@include hexagon($maphex-size, #12ae98, false);
	font-size: 2em;
	color: #ffffff;
	text-align: center;
	.stadium--hexagon--inner {
		@include hexagon($maphex-size - $maphex-border*2, #35b5a3);
		left: $maphex-border;
		top: $maphex-border / sqrt(3);
		z-index: 1;
	}

}

.stadium-table-container {
	float: left;
	h2 {
		color: #12ae98;
	}
	.stadium-table {
		td {
			padding: 5px;
		}
	}


}
