/*------------------------------------*\
    #COLOR
\*------------------------------------*/
$base--text-color:      #425669;
$base--link-color:      #BADA55;

$group-a: #ebbe1b;
$group-b: #f4901c;
$group-c: #f25149;
$group-d: #d0433c;
$group-e: #66caa7;
$group-f: #3ebc99;
$group-g: #55abe4;
$group-h: #4793c8;

$quarter-final: #a5b4b4;
